<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/us/" target="blank" rel="noopener">Creative Commons Attribution-ShareAlike 3.0 United States License</a>.
      </div>
      <div class="footer-col footer-col-2">
        <a href="http://creativecommons.org/licenses/by-sa/3.0/us/" target="blank" rel="noopener">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" />
        </a>
      </div>
      <div class="footer-col footer-col-3">
        <em>"May you be in heaven half an hour before the devil knows you're dead."</em>
      </div>
    </div>
  </div>

</footer>
