---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@media (min-width: 768px) {

  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }

  .highlight {
    clear: both;
  }

  .toc {
    float: left;
  }
}

.toc {
  border: 1px solid gray;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding-top: 15px;
  padding-right: 30px;
}
